body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;

    background-image: url(../img/background.jpg);
}

#board {

    width: 400px;
    margin: 20px auto;
}

.controls {
    width: 100%;
    text-align: center;
    background-color: antiquewhite;
    border: 2px solid black;

}
.controls button {
    width: 400px;
    height: 50px;
    font-size: 16px;
}
