body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 30px;
    background-image: url(../img/background.jpg);
}

#board {
    padding-top: 50px;
    width: 400px;
    margin: 20px auto;
}

.controls {
    width: 100%;
    text-align: center;
    background-color: antiquewhite;
}
.controls button {
    width: 400px;
    height: 100px;
    font-size: 16px;
}
